{% extends 'basic.html' %}
{% block title %} Contact Us {% endblock %}
{%load static%}
{% block body %}
<div class="container mt-6">
    <div class="row">
        <div class="col-md-6"data-aos="fade-up">
            <div class="card p-3"style="background-color: black;">
           <h3 style="color: white;">Let's get in touch</h3><br>
         
           <img src="{% static 'assets/img/R.jpeg' %}"width="90%" height="80%" data-aos="fade-in">
          
>
           <div class="social-links text-center">
            <h2 style="color: white; text-align: left;">Ankit kumar</h2>
            <h6 style="color: white; text-align: left;">Full Stack Web Developer 
            <br> <br> I am available for Freelancing or full-time positions. Contact me and let's have a talk.</h6>
            <h6 style="color: white;">Connect with me</h6>
            <a href="https://x.com/DeveloperA18482"style="margin-right: 20px;" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.instagram.com/ankit.47x/>"style="margin-right: 20px;" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://github.com/ankit-kumar-art"style="margin-right: 20px;"class="github"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/ankit-kumar460/>"style="margin-right: 20px;" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
            
        </div>
    </div>
        <div class="col-md-6">
            
            <h3 class="text-white bg-dark text-center p-3">Contact Us</h3>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <div class="card p-2"data-aos="fade-down">
                <form action="/contact/" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="name"><i class="bi bi-person-fill navicon"></i> Name</label>
                        <input type="text" class="form-control mb-3" name="name" required />
                    </div>

                    <div class="form-group">
                        <label for="email"><i class="bi bi-envelope-fill navicon"></i> Email</label>
                        <input type="email" class="form-control mb-3" name="email" required value="{{user.email}}" />
                    </div>

                    <div class="form-group">
                        <label for="num"><i class="bi bi-telephone-fill navicon"></i> Phone Number</label>
                        <input type="number" class="form-control mb-3" name="phone" required />
                    </div>

                    <div class="form-group">
                        <label for="desc"><i class="bi bi-chat-fill navicon"></i> How can I help you?</label>
                        <textarea type="text" class="form-control mb-3" name="desc" required ></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
